<!-- app/views/restaurants/show.html.erb -->
<div class="show-page restaurant">
  <div>
    <h1><%= @restaurant.name %></h1>
    <p><small><%= @restaurant.address %></small></p>
    <h2>
      <%= pluralize @restaurant.reviews.size, "review" %>
    </h2>
  </div>
  <div id="reviews" style="display: inline-block;">
    <% if @restaurant.reviews.blank? %>
      Be the first to leave a review for <%= @restaurant.name %>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
    <%= render 'reviews/form', restaurant: @restaurant, review: @review %>
  </div>
</div>


